:root {
	--text-link-color: #e4d3cd;
	--text-dark-color: #8b7072;

	--primary-color: #e4d3cd;
	--light-color: #ac9799;
	--whitish-color: #f0e2e2;
	--danger-color: #dd0707;

	--box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}
